@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    background-color: #A8E6CF;
    color:#49535D;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;           
}

h2, h3{
    color:black;
    font-size:1.5rem;
}
header {
    padding: 1rem;
    text-align: center;
    color:#F4F0EA;
    background-color: #798252;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
}
section {
    display: flex;
    flex-direction: column;
    gap:1rem;
}
input[type="text"],input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    border:2px solid #A8E6CF;
    border-radius:50px;
    background-color: #6c5ce7;
    color:black;
    outline: none;
}
 textarea{
    width: 100%;
    padding: 0.5rem;
    border:2px solid #A8E6CF;
    border-radius:10px;
    background-color: #6c5ce7;
    color:black;
    outline: none;
}
input[type="checkbox"],input[type="radio"] {
    accent-color: #6c5ce7;
    outline: none;
}
input::placeholder, textarea::placeholder{
    color:black;
}
.sumario{
    background-color: #ccd595;
    color: #6c5ce7;
    border-radius: 45px;
}
.select {
    cursor:pointer;
    background-color: #ccd595;
    color:#6c5ce7;
    border-radius:8px;
    border:none;
    outline: none;
}
details {
    border-radius: 16px;
    padding:1rem;
}
summary {
    cursor: pointer;
    margin:0.5rem;
    color:#49535D
}
ol li {
    padding:0.5rem;
    margin:0.5rem;
}
.tabela {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #798252;
    color:black;
    padding:1rem;
}
td {
    padding:0.9;
    text-align: center;
    background-color: #ccd595;
    color:#49535D
}
.alinhar {
    text-align: left;
}
fieldset {
    border: 2px solid #49535D;
    border-radius:20px;
    padding:1rem;
    background-color: #F4F0EA;    
}
.legenda {
    color:black;
    padding: 0 0.5rem;
}
.footer-p {
    background-color: #ccd595;
    color:black;
    padding:2rem;
    text-align: center;
}