@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


h2 {
  color:#34495e;
  font-size: 1.5rem;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F4F0EA;
    color:#798252;
    font-family: "Inter", sans-serif;
    font-weight: 500;           
}
header {
    padding: 2rem;
    background-color:#2c3e50;
    text-align: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0
}
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input[type="radio"], input[type="checkbox"] {
    accent-color: #6c5ce7;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #798252;
    outline: none;
    border-radius: 50px;
    background-color:#ccd595;
    color:#34495e 
}
input::placeholder {
    color:#6c5ce7;
}
textarea[name="comentarios"]{
    border: 2px solid #798252;
    outline: none;
    border-radius: 10px;
    background-color:#ccd595;
    color:#6c5ce7 ;
    width: 100%;
}
select {
    cursor: pointer;
    background-color:#798252;
    color:#F4F0EA;
    border-radius: 8px;
    border:none;
    outline: none;
}
img {
    width: 15rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: #7b4f35;
    color: #ffffff;
    padding: 1rem;
}
td{
    background-color: #ccd595;
    color:#ffffff;
    padding: 0.9rem;
    text-align: center;
}
.sem-centralizar {
  text-align: left;   
}
details {
    background-color: #6c5ce7;
    color:#F4F0EA;
    border-radius: 16px;
    padding: 1rem;
}
summary {
    color:#34495e;
    margin: 0.5rem;
    cursor: pointer;
}
ol li {
  padding: 1rem;
}
fieldset {
    border: 2px solid #798252;
    border-radius: 16px;
    padding : 1rem;
    background-color: #ccd595;
}
legend {
    color:#000000;
    padding: 0 0.5rem;
}
.footer-p {
    color:#000000;
}     
footer {
    background-color: #7b4f35;
    padding: 2rem;
    text-align: center;
}
footer p {
    color:#000000;
}
footer a {
    color:aqua;
    text-decoration: none;
}
